<form method="post" action="{{ path('app_jeu_video_delete', {'id': jeu_video.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jeu_video.id) }}">
    <button class="btn btn-primary btn-xs"><i class=" fa fa-trash-o"></i></button>
</form>
