{% extends 'base.html.twig' %}

{% block title %}New Pegi{% endblock %}

{% block body %}
    <h1>Create new Pegi</h1>

    {{ include('pegi/_form.html.twig') }}

    <a href="{{ path('app_pegi_index') }}">back to list</a>
{% endblock %}
