{% extends 'base.html.twig' %}

{% block title %}New LoginTrace{% endblock %}

{% block body %}
    <h1>Create new LoginTrace</h1>

    {{ include('login_trace/_form.html.twig') }}

    <a href="{{ path('app_login_trace_index') }}">back to list</a>
{% endblock %}
