<!-- 
  En-tête HTML commun à toutes les pages

  Contient :
  - Les méta-informations
  - Le titre de l'application
  - Les feuilles de style communes
  - Les bibliothèques CSS externes
  -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Méta-informations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Interface d'administration Agora">
    <meta name="author" content="sio">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive">
    
    <title>AgorA - Administration</title>

    <!-- Styles de base Bootstrap -->
    <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bibliothèques CSS externes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="/assets/lib/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet">
<!--external css pour les dates dans la gestion des tournois-->
<link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-fileupload/bootstrap-fileupload.css" />
<link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap-datetimepicker/datertimepicker.css" />
<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/style-responsive.css" rel="stylesheet">
<!-- Style pour agora -->
<link href="/assets/css/styleAgora.css" rel="stylesheet">
<!-- =======================================================
Template Name: Dashio
Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
Author: TemplateMag.com
License: https://templatemag.com/license/
======================================================= -->
</head>