{% extends 'base.html.twig' %}

{% block title %}Edit Reconnaissance{% endblock %}

{% block body %}
    <h1>Edit Reconnaissance</h1>

    {{ include('reconnaissance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reconnaissance_index') }}">back to list</a>

    {{ include('reconnaissance/_delete_form.html.twig') }}
{% endblock %}
